body {
  margin: 0;
  padding: 0;
  background-image: url("Foto/Robot-1280x720.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  text-align: center;
}
